# PostgreSQL
POSTGRES_IMAGE=docker.io/library/postgres:18

# Database
POSTGRES_DB=sineos
POSTGRES_USER=sineos
POSTGRES_PASSWORD=CAMBIAR_ESTA_CONTRASENA

# Host
POSTGRES_HOST_PORT=5432

# Storage
POSTGRES_DATA_DIR=../../volumes/postgres/data

# Container
POSTGRES_CONTAINER_NAME=sineos-postgres
POSTGRES_NETWORK=sineos-postgres
